<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <title>Mangas Shop Ancenis</title>
</head>

<body>
    <header>
        <a href="../index.html"><img class="logo" src="../assets/images/logo.png" alt="Brand Logo"></a>
        <nav>
            <ul class="nav-ul-element">
                <li><a href="./about_us.html">About Us</a></li>

                <li class="nav-dropdown-menu">Manga Universe
                    <ul>
                        <li><a href="./figurine.html">Figurines</a></li>
                        <li><a href="./mangas.html">Mangas</a></li>
                    </ul>
                </li>
                <li class="nav-dropdown-menu">
                    Communication
                    <ul>
                        <li><a href="./events.html">Events</a></li>
                        <li><a href="./news.html">News</a></li>
                    </ul>
                </li>
                <li><a href="./photo_gallery.html">Photo gallery</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <h1>Legal informations</h1>

        <p class="legal-informations">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus enim eveniet
            rem alias pariatur modi
            quod? Laboriosam atque facilis quibusdam rem, vel a ut dolore odio quas commodi architecto exercitationem
            natus ullam fugiat, cum omnis harum sint ad nesciunt eum facere distinctio cumque libero! In itaque ipsam
            nisi sit! Laboriosam, quas pariatur aspernatur officiis nostrum, aperiam, iste distinctio minima eius cumque
            at natus obcaecati nisi quae eveniet. Distinctio soluta ipsam tempore molestiae dicta, iste totam magnam ab
            facilis. At harum ducimus nemo! Eligendi reprehenderit unde neque amet, explicabo debitis rem accusamus odio
            aspernatur at maiores corrupti aliquam dignissimos. Nulla esse, quasi, provident quas eveniet molestiae
            harum similique nostrum odio debitis ipsam quaerat sed! Quidem eligendi a itaque, repellendus officia,
            labore quo aspernatur consectetur reiciendis, pariatur facilis? Quo, illum dolorem cupiditate a accusantium
            id eaque unde hic atque vitae iure eligendi culpa assumenda praesentium quas officiis, sequi quae provident
            eos pariatur. Deleniti id odio minus qui doloribus assumenda eius consectetur fuga harum iure quos itaque
            voluptatum magnam maxime, eos officia aspernatur? Vel eius officia distinctio odio ipsam, ad asperiores
            tempore numquam tempora eos repellendus suscipit beatae fuga dolores! Ipsa odit necessitatibus vero odio.
            Dolore excepturi unde quasi eveniet. Sint eveniet repudiandae quos nemo distinctio! Error repudiandae eum
            exercitationem corporis incidunt deserunt dolorem, id asperiores autem dolor fuga architecto. Commodi facere
            magni ullam, maiores ad a, vel error dignissimos sed rerum numquam eius nesciunt obcaecati corporis ipsa
            modi est quae repellendus quia atque? Natus atque, explicabo fuga ducimus veniam quod, laboriosam dolore
            placeat sunt est accusamus iste. Harum eos nisi numquam soluta obcaecati maxime et consequatur ratione
            accusantium modi! Inventore sint illo dolores velit fuga quos. Molestias doloremque labore ad assumenda?
            Quaerat ipsam fuga beatae pariatur sed expedita, porro quas natus quibusdam velit architecto exercitationem
            consequatur vel laboriosam alias. Velit delectus hic assumenda omnis maxime. Odio autem, voluptatibus quos
            corporis in amet sit rem repellendus architecto magni quibusdam ea quia sequi dolores sapiente optio ipsam
            eligendi. Mollitia libero quaerat eveniet similique cupiditate optio et facere, numquam rem nemo
            voluptatibus aperiam hic neque culpa maxime dolorum unde ab! Doloribus consectetur rem sit dolores. Dolores
            dolorum eaque placeat est aut iure, deserunt sit atque repudiandae ipsam. Magni totam molestias delectus
            ratione alias, laudantium esse beatae. Velit repellendus delectus placeat exercitationem hic magni
            voluptatibus nesciunt aut deleniti provident obcaecati quas reprehenderit et harum alias quae, nam non fuga?
            Porro debitis praesentium quos dolores fuga non architecto culpa, magni eaque fugiat dolorum ducimus id ut,
            a, ipsum ea voluptates nam distinctio. Impedit est unde, eaque enim quam non harum eos esse aperiam ut. Aut
            animi dolorum reprehenderit quod tempora harum suscipit expedita provident natus optio ipsum rem temporibus
            iure nostrum distinctio, aspernatur dolores magni qui officiis recusandae odio. Adipisci corporis, quo,
            incidunt placeat molestias necessitatibus officiis, dolorem laudantium quae eius delectus. Aperiam cumque
            nisi eligendi facilis tenetur quaerat consequuntur, dignissimos animi, numquam soluta temporibus laboriosam
            quam autem magnam obcaecati cupiditate. Repellendus consectetur debitis pariatur corrupti obcaecati illo ab
            quo, porro amet aperiam rerum recusandae aliquam repellat.</p>

    </main>
    <footer>
        <p>Open Monday to Saturday from 11am to 9pm, Espace 23 Ancenis 44150</p>
        <p>&copy copyright 2023,&nbsp; <a href="./legal_informations.html">Legal informations</a></p>
    </footer>
</body>

</html>